body{
    background-color:#f4f4f4;
    color:#555555;


    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight:normal;
    /* Same as above */
    font: normal 16px Arial, Helvetica, sans-serif;

    line-height: 1.6em;
    margin: 0;
}
.container{
    width: 80%;
    margin: auto;
}
a{
    text-decoration: none; /* gets rid of underline in on the categories in list */
    color:black;
}

.clr{
    clear:both; /* clears any floats above where it is called on in the index.html file*/
}


a:hover{
    color:red; /* when you hover on category link it lights up red*/

}

a:active{
    color:red; /* when you click on it it will flash a certain color*/
}

.button{ /* creates class that can be used for all buttons now, just have to apply the class ot the input */
    background-color: darkgrey;
    color:#fff;
    padding:10px 15px;
    border:none;
}



.box-1{
    background-color: #333;
    color:#f4f4f4;

    border-right: 5px red solid;
    border-left: 5px red solid;
    border-top: 5px red solid;
    border-bottom: 5px red solid;

    border: 5px red solid;
    border-width: 3px;
    border-bottom-width: 10px;
    border-top-style: dotted;


    border: 5px red solid;

    padding: 20px;

    margin: 20px;
}

.box-1 h1{
    font-family: 'Times New Roman', Times, serif;
    font-weight:800;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    word-spacing: 0.6em;
}


.box-2{
    border:3px dotted #ccc;
    padding:20px;
    margin:20px 0;


}
.categories{
    border:1px red solid;
    padding: 10px 10px;
    margin: 20px;
    border-radius: 15px;
}

.categories h2 {
    text-align: center;
}

.categories ul{
    padding:0;
    list-style: square;
    list-style:none;

}

.categories li{
    padding: bottom 8px;
    border-bottom: dotted 1px #333;
    /*list-style-image: url('../images/check.png');  if you save image under css crash course, folder images, as check. png, the image will show. */
}

.my-form{
    padding: 20px;
    margin-bottom:50px;

}

.my-form .form-group{
    padding-bottom:  15px;
}
.my-form label{
    display:block;

}

.my-form input[type="text"],.my-form textarea{ /* the type=text makes this section only change the text section, and now it does not affect the button even though the button is an imput. */
    padding:8px;
    width: 100%;
}
.my-form textarea{ /* this does the same thing as the .my-form textarea above */
    width:100%;
    padding: 8px;
}

.my-form input[type="submit"]{
    background-color: darkgrey;
    color:#fff;
    padding:10px 15px;
    border:none;
    font-style: bold;
}

.block{
    float:left;
    width:33.3%;
    border:1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
}
#main-block{  /* must use number signs when calling on ID's*/
    float:left;
    width:70%;
}
#sidebar{
    float:right;
    width:30%;
    background-color: #333;
    color:#ccc;
    padding:15px;
    box-sizing: border-box;

}

.p-box{
    width: 800px;
    height: 500px;
    border:1px solid black;
    margin-top: 30px;
    position: relative;       /* need to set the position in the main section to move individual parts within the section */
    background-image:url('../images/BG.jfif');
    background-repeat: no-repeat;
    background-position: 200px;
    background-position: center center;
}
.p-box h1{
    position: absolute;
    top:40px;
    left:200px
}

.fix-me{
    position:fixed; /* no matter where the user scrolls, the hello button will be 400 px from the top of the screen */
    top:400px;
}

.my-list li:first-child{ /* targets first in list*/
    background:red;
}

.my-list li:last-child{  /*targets last item*/
    background:blue;
}

.my-list li:nth-child(5){ /*target specific parts of a list (5th in this case)*/
    background:yellow;
}





